<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cartouche Builder</title>
    <link rel="stylesheet" href="styles.css"> <!-- Linking the separate CSS file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <header>
        <h1>Pendant Designer</h1>
    </header>
    <div class="container">
        <div class="grid-section">
            <div class="grid-item"><img src="/images/A1.GIF" alt="A1"></div>
            <div class="grid-item"><img src="/images/A2.GIF" alt="A2"></div>
            <div class="grid-item"><img src="/images/ANKH.GIF" alt="ANKH"></div>
            <div class="grid-item"><img src="/images/B.GIF" alt="B"></div>
            <div class="grid-item"><img src="/images/C.GIF" alt="C"></div>
            <div class="grid-item"><img src="/images/C_K.GIF" alt="C_K"></div>
            <div class="grid-item"><img src="/images/D.GIF" alt="D"></div>
            <div class="grid-item"><img src="/images/E_I_Y1.GIF" alt="E_I_Y1"></div>
            <div class="grid-item"><img src="/images/E_I_Y2.GIF" alt="E_I_Y2"></div>
            <div class="grid-item"><img src="/images/E_I_Y3.GIF" alt="E_I_Y3"></div>
            <div class="grid-item"><img src="/images/F_V.GIF" alt="F_V"></div>
            <div class="grid-item"><img src="/images/G.GIF" alt="G"></div>
            <div class="grid-item"><img src="/images/H1.GIF" alt="H1"></div>
            <div class="grid-item"><img src="/images/H2.GIF" alt="H2"></div>
            <div class="grid-item"><img src="/images/I.GIF" alt="I"></div>
            <div class="grid-item"><img src="/images/J.GIF" alt="J"></div>
            <div class="grid-item"><img src="/images/K.GIF" alt="K"></div>
            <div class="grid-item"><img src="/images/L.GIF" alt="L"></div>
            <div class="grid-item"><img src="/images/M1.GIF" alt="M1"></div>
            <div class="grid-item"><img src="/images/M2.GIF" alt="M2"></div>
            <div class="grid-item"><img src="/images/N1.GIF" alt="N1"></div>
            <div class="grid-item"><img src="/images/N2.GIF" alt="N2"></div>
            <div class="grid-item"><img src="/images/O_U_W1.GIF" alt="O_U_W1"></div>
            <div class="grid-item"><img src="/images/O_U_W2.GIF" alt="O_U_W2"></div>
            <div class="grid-item"><img src="/images/P.GIF" alt="P"></div>
            <div class="grid-item"><img src="/images/Q.GIF" alt="Q"></div>
            <div class="grid-item"><img src="/images/R.GIF" alt="R"></div>
            <div class="grid-item"><img src="/images/S.GIF" alt="S"></div>
            <div class="grid-item"><img src="/images/SH_CH.GIF" alt="SH_CH"></div>
            <div class="grid-item"><img src="/images/T.GIF" alt="T"></div>
            <div class="grid-item"><img src="/images/TH.GIF" alt="TH"></div>
            <div class="grid-item"><img src="/images/UDJATEYE.GIF" alt="UDJATEYE"></div>
            <div class="grid-item"><img src="/images/W.GIF" alt="W"></div>
            <div class="grid-item"><img src="/images/X.GIF" alt="X"></div>
            <div class="grid-item"><img src="/images/Z_S.GIF" alt="Z_S"></div>
        </div>
        
        
        <div class="pendant-section">
            <canvas id="pendantCanvas" width="300" height="1200"></canvas>
            <!-- Placeholder for the pendant canvas -->
        </div>
    </div>
    <script src="/script.js"></script>
</body>
</html>
